{:paths ["src" "resources" ]
 :deps {com.datomic/peer {:mvn/version "1.0.6733"}
        io.aviso/pretty {:mvn/version "1.3"}
        io.github.hlship/trace {:mvn/version "v1.0"}
        io.aviso/logging {:mvn/version "1.0"}
        io.github.nextjournal/clerk {:mvn/version "0.13.838"}}}
